@using BookLoanApp.Models
@model IEnumerable<UserModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}


<div class="container mt-5">

    <div class="btn-box d-flex justify-content-between align-items-center mb-3">
        <h2>Employees</h2>
        <a asp-controller="User" asp-action="Register"  class="btn-success btn"><i class="bi bi-plus-circle"></i> Register new employee</a>
    </div>

    <table class="table table-hover" id="data-table">
        <thead>
            <tr>
                <th></th>
                <th style="text-align: center; vertical-align: middle;" scope="col">User</th>
                <th style="text-align: center; vertical-align: middle;" scope="col">Name</th>
                <th style="text-align: center; vertical-align: middle;" scope="col">State</th>
                <th style ="text-align: center; vertical-align: middle;" scope="col">Email</th>
                <th style="text-align: center; vertical-align: middle;" scope="col">Register Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var user in Model)
                {
                    <tr>
                        @if (user.Situation == true)
                        {
                            <td>
                                <img src="~/img/Ativo.png" style="width: 25px; height: 25px" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="~/img/Inativo.png" style="width: 25px; height: 25px" />
                            </td>
                        }
                        <th style ="text-align: center; vertical-align: middle;" scope="row"><i class="bi bi-people"></i> @user.UserName</th>
                        <td style ="text-align: center; vertical-align: middle;">@user.FullName</td>
                        <td style="text-align: center; vertical-align: middle;">@user.Adress.State</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="bi bi-envelope-at"></i> @user.Email</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="bi bi-calendar"></i> @user.RegisterDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" class="btn-warning btn"><i class="bi bi-file-earmark-zip"></i> Details</a>
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn-info btn"><i class="bi bi-pencil"></i> Edit</a>
                        </td>
                    </tr>
                }
            }



        </tbody>
    </table>
</div>